@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<MusicStore.Models.FromCity>

@{
}



<h1>Main</h1>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item bg-primary text-white d-inline"><img src ="~/bootstrap-icons/plane.svg" alt="" width="20" height="20" /> Flights</li>
    <li class="list-group-item d-inline"><img src="~/bootstrap-icons/hotel.svg" alt="" width="20" height="20"/> Hotel</li>
</ul>
<ul class="list-group list-group-horizontal" >
    <li class="list-group-item" style="border:none;background-color:lightsteelblue;">
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelectFlight">Rounds</label>
            </div>
            <select class="custom-select" id="inputGroupSelectFlight">
                <option selected>Round-trip</option>
                <option value="1">One-way</option>
                <option value="2">Round-trip</option>
                <option value="3">Multi-city</option>
            </select>
        </div>
    </li>
    <li class="list-group-item" style="border:none;background-color:lightsteelblue;">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuPassenger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span id="pNumbers">1</span> Passengers
            </button>
            <form>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuPassenger" style="width: 400px" id="pDropdown">
                    <p class="dropdown-item-text">Please select exact number of passengers to view the best prices</p>
                    <div class="input-group">
                        <p class="dropdown-item-text" style="width:200px;">Adults</p>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant1">
                                <img src="~/bootstrap-icons/dash-circle.svg" alt="" width="20" height="20" />
                            </button>
                        </span>
                        <input type="text" name="quant1" class="form-control input-number" value="1" min="0" max="10" id="number1">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant1">
                                <img src="~/bootstrap-icons/plus-circle.svg" alt="" width="20" height="20" />
                            </button>
                        </span>
                    </div>
                    <div class="input-group">
                        <p class="dropdown-item-text" style="width:200px;">Children<span style="color:lightgray;font-size:9px;"> 2-11 yrs</span></p>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[2]">
                                <img src="~/bootstrap-icons/dash-circle.svg" alt="" width="20" height="20" />
                            </button>
                        </span>
                        <input type="text" name="quant[2]" class="form-control input-number" value="0" min="0" max="10" id="number2">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[2]">
                                <img src="~/bootstrap-icons/plus-circle.svg" alt="" width="20" height="20" />
                            </button>
                        </span>
                    </div>
                    <div class="input-group">
                        <p class="dropdown-item-text" style="width:200px;">Infants<span style="color:lightgray;font-size:9px;"> <2 yrs</span></p>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[3]">
                                <img src="~/bootstrap-icons/dash-circle.svg" alt="" width="20" height="20" />
                            </button>
                        </span>
                        <input type="text" name="quant[3]" class="form-control input-number" value="0" min="0" max="10" id="number3">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[3]">
                                <img src="~/bootstrap-icons/plus-circle.svg" alt="" width="20" height="20" />
                            </button>
                        </span>
                    </div>
                    <div class="dropdown-item-text">
                        <a href="#" class="float-right"  data-toggle="dropdown">Done</a>
                    </div>
                </div>
            </form>
            
        </div>
    </li>
    <li class="list-group-item" style="border:none;background-color:lightsteelblue;">
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelectEconomy">Level</label>
            </div>
            <select class="custom-select" id="inputGroupSelectEconomy">
                <option selected>Economy</option>
                <option value="1">Economy/Premium economy</option>
                <option value="2">Premium economy</option>
                <option value="3">Business/First</option>
                <option value="4">Business</option>
                <option value="5">First</option>
            </select>
        </div>
    </li>
</ul>
<div class="container" style="border:none;background-color:lightsteelblue;">
    <div class="row p-2">
        <div class="col border p-2">
            <label>From</label>
            <input type="text" data-toggle="dropdown" id="fromCity" class="form-control" value="Cicy or airsport"/>
            <div class="dropdown-menu" aria-labelledby="fromCity" style="width:800px;" id="fromCityMenu">
                
            </div>
        </div>
        <div class="col border p-2">
            <label>To</label>
            <select class="custom-select">
                <optgroup label="Asia" ></optgroup>
                <option>Hong Kong</option>
                <option>Shanghai</option>
                <option>Taipei</option>
                <optgroup label="Europe"></optgroup>
                <option>London</option>
                <option>Paris</option>
                <option>Rome</option>
            </select>
        </div>
        <div class="col border p-2">
            <label>Depart</label>
            <select class="custom-select">
                <option selected>City or airport</option>
                <option>Beijing</option>
            </select>
        </div>
        <div class="col border p-2">
            <label>Return</label>
            <select class="custom-select">
                <option selected>City or airport</option>
                <option>Beijing</option>
            </select>
        </div>
        <div class="col border p-2">
            <button class="btn" style="background-color:dodgerblue"><img src="~/bootstrap-icons/search.svg" style="width:50px;height:50px;"/></button>
        </div>
    </div>
</div> 
<script src="~/js/plusminusbutton.js"></script>
<script>
    areas = [];
    cities = {};
    var areadbName = "";
    var currentAreaName = "";
        @foreach (var item in Model)
        {

            @:currentAreaName = "@item.AreaName";

            @:if (areadbName != currentAreaName) { areas.push(currentAreaName);}

            @:areadbName = currentAreaName;

        }
    
    var html = "";
    for (i = 0; i < areas.length; i++) {
        html += '<label class="dropdown-item-text" style="background-color:aliceblue">' + areas[i] + '</label> <ul class="list-group list-group-horizontal">';
        @foreach(var item in Model)
        {
            @:if (areas[i] == "@item.AreaName") { html += '<li class="list-group-item" style="border:none;"><a href="#" class="list-group-item-action">' + "@item.CityName" + '</a></li>';}
        }
        html += '</ul>';
    }
    $('#fromCityMenu').append(html);

</script>

